body{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

/*
#################################
MAIN LAYOUT
#################################
*/

.page-header {
    text-align: center;
    top: 50px;
    left: 50px;
}

.page-footer {
    bottom: 50px;
    font-size: 9px;
    text-align: center;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
}

.content_section_tittle {
    padding-left: 20px;
    font-size: 32px;
}

section {
    padding-top: 20px;
}
/*
#################################
MENU
#################################
*/
.nav {
    padding: 15px;
    font-weight: bold;
    list-style:none;
    text-align:center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    grid-template-rows: repeat(1, 100px);
    column-gap: 20px;
    row-gap: 10px;
  }

  .nav ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  .nav li{display:inline;}
  .nav a{
    text-decoration:none; 
    display:inline-block; 
    margin:0 1px;
  }
  
  .menu_btn{
    display: block;
    color: #000000;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    padding:20px 40px;
    letter-spacing:2px;
    text-transform:uppercase;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  
  .menu_btn:hover{
    border:none;
    background: #000000;
    color: #b4b4b4;
    -o-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
/*
#################################
LOGO
#################################
*/

  .logo {
    display: inline-flex;
    flex-direction: row;
    margin-top: 10%;
    width: 80%;
    justify-content: center;
  }

  .logo_pic {
    width: 30%;
  }
  .logo_tittle {
    font-size: 18px;
    font-weight: bold;
  }
  .logo_name {
  
    font-size: 50px;
    font-weight: bold;
  }
  . {
  }

/*
    #################################
    ABOUT ME
    #################################
*/
.about {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    
    font-size: 18px;
}

/*
    #################################
    MAIN TECHNICAL SKILLS
    #################################
*/
.content_skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(1, 150px);
    column-gap: 20px;
    row-gap: 10px;
}
.skill {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


/*
    #################################
    SCHOOL AND CERTIFICATES
    #################################
*/

.school {

}
.content_school {
    display: flex;
    /*   flex-direction: row; */
      flex-direction: column;
      padding: 20px;
      margin-left: 20%;
      margin-right: 10%;
}
.content_school_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(1, 200px);
    column-gap: 20px;
    row-gap: 10px;
}
.school_img {
    width: 150px;
}

.job_img {
    width: 250px;
}

/*
    #################################
    CONTACT
    #################################
*/
.content_contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(1, 150px);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;


}
.content_contact_item {
    padding: 10px;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.content_contact_item:hover {

    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

  /* MEDIA >980px !!!!!!!!! */