body{

    font-family: 'Roboto', sans-serif;
    font-style: normal;
  }

/*
#################################
MAIN LAYOUT
#################################
*/

.page-header {
    text-align: center;
    top: 50px;
    left: 50px;
}

.page-footer {
    bottom: 50px;
    font-size: 9px;
    text-align: center;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
}

.content_section_tittle {
    padding-left: 20px;
    font-size: 32px;
}

section {
    padding-top: 20px;
}
/*
#################################
MENU
#################################
*/
.page-navigation__items {
    padding: 15px;
    font-weight: bold;
    list-style:none;
    text-align:center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    grid-template-rows: repeat(1, 100px);
    column-gap: 20px;
    row-gap: 10px;
  }

  .page-navigation__items ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  .page-navigation__items li{
    display:table;
  }
  .page-navigation__items a{
    text-decoration:none; 
    display:inline-block; 
    margin:0 1px;
  }
  
  .menu_btn{
    display: block;
    color: #000000;
    line-height: 21px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    padding:20px 40px;
    letter-spacing:2px;
    text-transform:uppercase;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  
  .menu_btn:hover{
    border:none;
    background: #000000;
    color: #b4b4b4;
    -o-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
/*
#################################
LOGO
#################################
*/

  .logo {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10%;
    width: 80%;
    justify-content: center;
    white-space: nowrap;
  }


  .logo_tittle {
    font-size: 18px;
    font-weight: bold;
  }
  .logo_name {
  
    font-size: 50px;
    font-weight: bold;
  }

  .content_logo {
    display: flex;
    /*   flex-direction: row; */
      flex-direction: column;
      padding: 20px;
  }
  .content_logo_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(1, 320px);
    column-gap: 20px;
    row-gap: 10px;
  }

/*
    #################################
    ABOUT ME
    #################################
*/
.about {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    
    font-size: 18px;
}

/*
    #################################
    MAIN TECHNICAL SKILLS
    #################################
*/
.content_skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(1, 150px);
    column-gap: 20px;
    row-gap: 10px;
}
.skill {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


/*
    #################################
    SCHOOL AND CERTIFICATES
    #################################
*/

.school {

}
.school_img_container {
  position: relative;
}
.school_img {
  width: 200px;
  position: absolute;              
  top: 50%;                     
  transform: translate(0, -50%) 
}   

.school_exp_container {
  position: relative;
}
.content_school_exp {
  position: absolute;              
  top: 50%;                     
  transform: translate(0, -50%) 
}
.content_school {
    display: flex;
    /*   flex-direction: row; */
      flex-direction: column;
      padding: 20px;
      margin-left: 20%;
      margin-right: 10%;
}
.content_school_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: repeat(1, 200px);
    column-gap: 20px;
    row-gap: 10px;
}
.school_img {
    width: 150px;
}

/*
    #################################
    JOB EXPERIENCE
    #################################
*/
.container_job_img {
  position: relative;
}
.job_img {
  width: 200px;
  position: absolute;              
  top: 50%;                     
  transform: translate(0, -50%) 
}   

.content_job_exp {
  position: relative;
}
.content_job_exp_text {
  position: absolute;              
  top: 50%;                     
  transform: translate(0, -50%) 
}
.content_job {
  display: flex;
  /*   flex-direction: row; */
    flex-direction: column;
    padding: 20px;
    margin-left: 20%;
    margin-right: 10%;
}
.content_job_item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  grid-template-rows: repeat(1, 200px);
  column-gap: 20px;
  row-gap: 10px;
}



/*
    #################################
    CONTACT
    #################################
*/
.content_contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(1, 150px);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;


}

.content_contact_item {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}
  /* MEDIA >980px !!!!!!!!! */
  .page-header__hamburger {
    display: none;
  }

  @media screen and (max-width: 980px) {
  .page-header__hamburger {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #000000;
  }
  .page-header__hamburger:focus {
      outline-color: #000000;
  }

  .page-header__hamburger span {
      width: 25px;
      height: 4px;
      margin: 2px 0;
      display: block;
      background-color: #000000;
      border-radius: 2px;
      transition: transform .2s, opacity .2s .4s;
  }

  .page-header__hamburger--active span {
      transition: transform .2s .4s, opacity .4s;
  }

  .page-header__hamburger--active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .page-header__hamburger--active span:nth-child(2) {
      opacity: 0;
  }

  .page-header__hamburger--active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
/*
######################################
NAWIGACJA
######################################
*/
  .menu-button {
      display: block;
  }

  .page-navigation {
      height: 0;
      transition: opacity .2s, height .3s .2s;
      opacity: 0;
  }

  .page-navigation--visible {
      height: 230px;
      opacity: 1;
      transition: height .3s, opacity .2s .3s;
  }

  .page-navigation__items {
    padding: 15px;
    font-weight: bold;
    list-style:none;
    text-align:center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);  
    grid-template-rows: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 10px;
  }




/*
#################################
LOGO
#################################
*/
.content_logo_item {
  display: flex;
}
.logo {
  white-space: pre-wrap;
}
.logo_pic_container {
  display: none;
}
.logo {
  width: 100%;
}

.logo_info {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  font-size: 10px;
  transform: translate(-50%, -50%)
}

/*#############
CONTENT
################*/
.content_school_item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);  
  grid-template-rows: repeat(2, 200px);
  column-gap: 20px;
  row-gap: 10px;
}

}